@model MyAgendaApp.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Nombres" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Apellidos" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Correo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Compania" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Compania" class="form-control" />
                <span asp-validation-for="Compania" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nota" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Nota" class="form-control"></textarea>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>